{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'recSys/css/uikit.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'recSys/css/uikit.gradient.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'recSys/css/components/notify.gradient.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'recSys/css/components/search.gradient.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'recSys/css/components/autocomplete.almost-flat.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'recSys/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'recSys/js/uikit.min.js' %}"></script>
    <script src="{% static 'recSys/js/components/notify.js' %}"></script>
    <script src="{% static 'recSys/js/components/search.min.js' %}"></script>
    <script src="{% static 'recSys/js/components/autocomplete.min.js' %}"></script>
    {% block head %}
    {% endblock %}
    <title>{% block title %}Movie Recommend System{% endblock %}</title>
</head>
<style>
    * {
        font-family: 'Open Sans', X-LocaleSpecific, sans-serif;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    .float-right {
        float: right;
    }

    .uk-navbar {
        border-bottom-color: rgba(0, 0, 0, .1);
    }

    {#    .uk-image-top {#}
    {#        position: absolute;#}
    {#        top: 13px;#}
    {#        left: 19%;#}
    {#    }#}
</style>
<script>
</script>
<body>

<nav class="tm-navbar uk-navbar uk-navbar-attached">
    <div class="uk-container uk-container-center">

        {#        <a class="uk-navbar-brand uk-hidden-small" href=""><img class="uk-image-top uk-margin uk-margin-remove"#}
        {#                                                                src="images/logo_uikit.svg"#}
        {#                                                                title="电影推荐" alt="电影推荐" height="30"#}
        {#                                                                width="90"></a>#}

        <ul class="uk-navbar-nav uk-hidden-small">
            <li><a href="/hall">电影大厅</a></li>
            <li><a href="/personal/rec">个性推荐</a></li>
        </ul>

        {% if user.is_authenticated %}
            <div class="uk-navbar-flip">
                <ul class="uk-navbar-nav">
                    <li class="uk-parent" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
                        <a href="">{{ user.username }}</a>

                        <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom" style="top: 40px; left: 0px;
                            width: 200%">
                            <ul class="uk-nav uk-nav-navbar">
                                <li><a href="/person/center">个人中心</a></li>
                                <li><a href="/person/list">个人列表</a></li>
                                <li><a href="/sort/label">我的标签</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="">FAQ</a></li>
                                <li><a href="/logout">退出登录</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        {% else %}
            <div class="uk-navbar-content float-right"><a href="/login">登录</a></div>
            <div class="uk-navbar-content float-right" style="margin-left: 20px;margin-right: -20px"><a
                    href="/register">注册</a>
            </div>
        {% endif %}

        <div class="uk-navbar-flip float-right">
            <div class="uk-navbar-content">
                <form class="uk-search"
                      style="margin-top: 9px" method="get" action="/find">
                    <input class="uk-search-field" name="text" id="text" placeholder="找电影..." autocomplete="off"
                           type="search">
                    <div class="uk-dropdown uk-dropdown-flip uk-dropdown-search" aria-expanded="false"></div>
                </form>
            </div>
        </div>

        <a href="#tm-offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>

        <div class="uk-navbar-brand uk-navbar-center uk-visible-small"><img src="images/logo_uikit.svg"
                                                                            title="UIkit" alt="UIkit" height="30"
                                                                            width="90"></div>

    </div>
</nav>
<a href="#top" class="uk-button" data-uk-smooth-scroll=""
   style="float: right;bottom: 50px;position: fixed;right: 50px;">
    <i class="uk-icon-arrow-up"></i></a>
{% block content %}
{% endblock %}
</body>
</html>
