{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} 电影大厅 {% endblock %}
{% block head %}
    <script src="{% static 'recSys/js/components/grid.min.js' %}" xmlns="http://www.w3.org/1999/html"></script>
    <style>
        .content {
            width: 900px;
            margin: 20px auto;
        }

        .select-p {
            display: inline-block;
        }

        .uk-breadcrumb {
            display: inline-block;
        }

        .uk-panel-box {
            height: 210px;

        }

        .small-box {
            position: absolute;
            box-sizing: border-box;
            padding-left: 20px;
            padding-bottom: 20px;
            top: 0;
            left: 0;
            opacity: 1;
            display: block;
        }

        .small-box, .uk-panel-box {
            background-color: white;
            border: none;
        }

        .inline {
            margin-left: 24px;
            margin-top: 10px;
        }

        .select {
            color: #ffffff;
            background-color: #00a8e6;
            padding: 3px 4px 1px 4px;
            margin-top: -5px;
            border-radius: 3px;
        }

        .select:hover {
            color: #ffffff;
        }
    </style>
    <script>
        $(function () {
            $('.uk-breadcrumb a').click(function () {
                $(this).addClass('select')
                $(this).parent('li').siblings().find('a').removeClass('select')

                area = $('.uk-breadcrumb').eq(0).find('.select').text()
                type = $('.uk-breadcrumb').eq(1).find('.select').text()
                time = $('.uk-breadcrumb').eq(2).find('.select').text()
                filter = $('.uk-breadcrumb').eq(3).find('.select').text()
                window.location.href = '/hall?area=' + area + '&type=' + type + '&time=' + time + '&filter=' + filter
            })
        })
    </script>
{% endblock %}
<body>

{% block content %}
    <div class="content">
        <div class="inline">
            <p class="select-p">地区: &nbsp;</p>
            <ul class="uk-breadcrumb" style="display: inline">
                {% for area in area_lst %}
                    <li><a
                            {% if select_area == area %}
                                class="select"
                            {% endif %}
                    >{{ area }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="inline">
            <p class="select-p">类型: &nbsp;</p>
            <ul class="uk-breadcrumb" style="display: inline">
                {% for type in type_lst %}
                    <li><a
                            {% if select_type == type %}
                                class="select"
                            {% endif %}
                    >{{ type }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="inline">
            <p class="select-p">时间: &nbsp;</p>
            <ul class="uk-breadcrumb" style="display: inline">
                {% for time in time_lst %}
                    <li><a
                            {% if select_time == time %}
                                class="select"
                            {% endif %}
                    >{{ time }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="inline">
            <p class="select-p">筛选: &nbsp;</p>
            <ul class="uk-breadcrumb" style="display: inline">
                {% for filter in filter_lst %}
                    <li><a
                            {% if select_filter == filter %}
                                class="select"
                            {% endif %}
                    >{{ filter }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <hr class="uk-article-divider" style="margin-top: 13px;">

        <div class="content-box uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-width-large-1-5 tm-grid-heights"
             data-uk-grid="{gutter: 15, controls: '#filter'}"
             style="position: relative; margin-left: -20px; height: 394px;">
            {% for m in movies %}
                <div data-grid-prepared="true"
                     aria-hidden="false" class="small-box">
                    <div class="uk-panel-box">
                        <a href="/movie/detail?id={{ m.douban_id }}"><img style="width: 120px; height: 168px; margin: 0px 8px; border: 1px solid #e1e1e1;
                    cursor: pointer" src="{% static 'recSys/movie_imgs/' %}{{ m.img_name }}"></a>
                        <p style="font-size: 13px; text-align: center;width: 100%;"><a
                                href="/movie/detail?id={{ m.douban_id }}">{{ m.film_name }}</a></p>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
	<script>
		$(function(){
		/*	$(window).scroll(function(){
				if ($(document).scrollTop() >= $(document).height() - $(window).height()) {
					
					area = $('.uk-breadcrumb').eq(0).find('.select').text()
					type = $('.uk-breadcrumb').eq(1).find('.select').text()
					time = $('.uk-breadcrumb').eq(2).find('.select').text()
					filter = $('.uk-breadcrumb').eq(3).find('.select').text()
					$.ajax({
						url: '/hall',
						type: 'get'
					})

					box = $('.small-box').last().clone(true)
					box.find('a').attr('href', 'error')
					alert('00000')
					$('.content-box').last().append(box)
		
			})
		}) */
	</script>
{% endblock %}
