{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} 个人中心 {% endblock %}
{% block head %}

    <style>
        .content-box {
            width: 1000px;
            margin: 30px auto;
        }

        .uk-icon-small {
            font-size: 138%;
        }

        .uk-table {
            margin-top: 3px;
        }
    </style>
    <script>
        $(function(){
            $('.delete').click(function () {
                m_id = $(this).attr('data')
                $.ajax({
                    type: 'post',
                    url: '/person/center',
                    data: {
                      'm_id': m_id
                    },
                    success: function (msg) {
                        UIkit.notify(msg.msg, {status: msg.type, timeout: 1500});
                        if (msg.type == 'success'){
                            setTimeout(function(){
                                location.reload()
                            }, 1500)
                        }
                    }
                })
            })
        })
    </script>
	<style>
		.content{
			width:1000px;
			margin: 0px auto;
		
		}
		.top-box{
			width:100%;
			height:280px;
			background-color:#ccc;
		}
	</style>
{% endblock %}

{% block content %}
<div class='content'>
    <div class='top-box'>
	hello world
    </div>
</div>
{% endblock %}
