{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {#    <link rel="shortcut icon" href="{% static 'recSys/images/title.png' %}"/>#}
    <link href="{% static 'recSys/css/uikit.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'recSys/css/uikit.gradient.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'recSys/css/components/form-password.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'recSys/css/components/notify.gradient.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'recSys/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'recSys/js/uikit.min.js' %}"></script>
    <script src="{% static 'recSys/js/components/form-password.js' %}"></script>
    <script src="{% static 'recSys/js/components/notify.min.js' %}"></script>
    <script src="{% static 'recSys/js/login-register.js' %}"></script>
    <title>注册</title>
</head>
<body>

    <form class="uk-form" action="/register" method="post" style="width: 500px; margin: 200px auto">
         {% csrf_token %}
        <p style="text-align: center; font-size: 23px;">电影推荐系统</p>
        <div class="uk-form-icon" style="margin: 20px auto 12px auto">
            <i class="uk-icon-user"></i>
            <input id="username" name="username" placeholder="请输入账户名..." type="text" class="uk-form-width-large">
        </div>
        <div class="uk-form-icon" style="margin: 12px auto 12px auto">
            <i class="uk-icon-eye"></i>
            <input id="pw" name="pw" placeholder="请输入账户密码..." type="password" class="uk-form-width-large">
        </div>
        <div class="uk-form-icon" style="margin: 12px auto 24px auto">
            <i class="uk-icon-eye"></i>
            <input id="rpw" name="rpw" placeholder="请再次输入密码..." type="password" class="uk-form-width-large">
        </div>
        <a href="/login" style="text-decoration: none">直接登陆 <i class="uk-icon-reply-all"></i> </a>
        <a href="#" class="uk-button submit-register" style="float: right">注册 <i class="uk-icon-arrow-right"></i> </a>
        <a href="#" class="uk-button reset-btn" style="float: right;margin-right: 30px">清空 <i class="uk-icon-undo"></i> </a>
    </form>

</body>
</html>