{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {#    <link rel="shortcut icon" href="{% static 'recSys/images/title.png' %}"/>#}
    <link href="{% static 'recSys/css/uikit.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'recSys/css/uikit.gradient.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'recSys/css/components/form-password.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'recSys/css/components/sortable.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'recSys/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'recSys/js/uikit.min.js' %}"></script>
    <script src="{% static 'recSys/js/components/form-password.js' %}"></script>
    <script src="{% static 'recSys/js/login-register.js' %}"></script>
    <script src="{% static 'recSys/js/components/sortable.min.js' %}"></script>
    <title>标签整理</title>
</head>
<style>
    .uk-margin {
        margin-bottom: 12px;
        margin-top: 12px;
    }

    .uk-panel-box {
        padding: 8px;
        width: 32%;
        cursor: move;
    }

    .my-label .uk-panel {
        background-color: #ebf7fd;
        color: #2d7091;
        border-color: rgba(45, 112, 145, .3);
    }
    .top a{
        text-decoration: none;
        font-size: 18px;
    }
</style>
<body>
<div class="top" style="width: 575px;margin: 50px auto">
    <p style="font-size: 18px">辣么多类型的电影，您更喜欢那种类型呢？快来告诉我们吧 *^_^*!</p>
    <p style="font-size: 15px">偷偷告诉你：鼠标悬停在标签上，可以左右拖动来选择标签，上下拖动还可以排序呢！</p>
    <a class="submit" style="float: right;">提交 <i class="uk-icon-arrow-right"></i> </a>
    <a href="/hall" style="float: right;  margin-right: 30px;color: #d85030">跳过 <i class="uk-icon-mail-forward"></i> </a>
</div>
<div class="uk-grid uk-grid-width-1-2" style="width: 480px; margin: 80px auto">
    <div>
        <h3>可选择标签</h3>
        <div class="uk-sortable uk-margin" data-uk-sortable="{group:'test'}">
            <div class="uk-margin">
                <div class="uk-panel uk-panel-box">武侠 <a class="uk-close" style="float: right"></a></div>
            </div>
            <div class="uk-margin">
                <div class="uk-panel uk-panel-box">犯罪 <a class="uk-close" style="float: right"></a></div>
            </div>
            <div class="uk-margin">
                <div class="uk-panel uk-panel-box">战争 <a class="uk-close" style="float: right"></a></div>
            </div>
            <div class="uk-margin">
                <div class="uk-panel uk-panel-box">惊悚 <a class="uk-close" style="float: right"></a></div>
            </div>
            <div class="uk-margin">
                <div class="uk-panel uk-panel-box">记录片 <a class="uk-close" style="float: right"></a></div>
            </div>
            <div class="uk-margin">
                <div class="uk-panel uk-panel-box">爱情 <a class="uk-close" style="float: right"></a></div>
            </div>
            <div class="uk-margin">
                <div class="uk-panel uk-panel-box">短片 <a class="uk-close" style="float: right"></a></div>
            </div>
        </div>
    </div>
    <div>
        <h3>我的标签</h3>
        <div class="uk-sortable uk-margin my-label" data-uk-sortable="{group:'test'}">
{#            {% if labels %}#}
{#                {% for l in labels %}#}
{#                <div class="uk-margin">#}
{#                    <div class="uk-panel uk-panel-box ">{{ l }} <a class="uk-close" style="float: right"></a></div>#}
{#                </div>#}
{#                {% endfor %}#}
{#            {% else %}#}
                <div class="uk-margin">
                    <div class="uk-panel uk-panel-box ">科幻 <a class="uk-close" style="float: right"></a></div>
                </div>
                <div class="uk-margin">
                    <div class="uk-panel uk-panel-box">喜剧 <a class="uk-close" style="float: right"></a></div>
                </div>
                <div class="uk-margin">
                    <div class="uk-panel uk-panel-box">动画 <a class="uk-close" style="float: right"></a></div>
                </div>
                <div class="uk-margin">
                    <div class="uk-panel uk-panel-box">恐怖 <a class="uk-close" style="float: right"></a></div>
                </div>
{#            {% endif %}#}
        </div>

    </div>

</div>

<script>
    $('a').on('click', function () {
        select = $(this).parent('.uk-panel').parent('.uk-margin')
        $('.uk-sortable').first().append(select)

    })

    $('.submit').click(function(){
        text = $('.my-label .uk-panel').text()
        window.location.href = '/sort/label?text='+text
    })
</script>
</body>
</html>
