{% extends 'backend/base.html' %}
{% load staticfiles %}
{% block title %}主页{% endblock title %}
{% block head %}

{% endblock head %}
{% block content %}
    boss_count: {{ boss_count }} <br>
    lagou_count: {{lagou_count }} <br>
    <div id="main" style="width: 600px;height:400px;"></div>
    <div id="info" style="width: 1380px;height:500px;"></div>

    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '国家分布情况'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                x: 'center',
                data: ['国家分布']
            },
            radar: [
                {
                    indicator: [
                        {text: '桑多瑞', max: 200},
                        {text: '葛雷', max: 200},
                        {text: '利萨姆', max: 200},
                        {text: '莉维塔', max: 200},
                        {text: '夏亚', max: 200},
                        {text: '达姆斯', max: 200},
                    ],
                    center: ['25%', '40%'],
                    radius: 80
                },

            ],
            series: [
                {
                    type: 'radar',
                    tooltip: {
                        trigger: 'item'
                    },
                    itemStyle: {normal: {areaStyle: {type: 'default'}}},
                    data: [
                        {
                            value: [108, 123, 139, 100, 110, 80],
                            name: '玩家数量'
                        }
                    ]
                },
            ]
        };

        var info = echarts.init(document.getElementById('info'));
        var info_date = '{% for i in info_date %}{{ i }} {% endfor %}'
        info_date = info_date.split(' ')
		info_date.pop()

        var info_data = '{% for i in info_data %}{{ i }} {% endfor %}'
        info_data = info_data.split(' ')
		info_data.pop()

        var sword_data = '{% for i in sword_data %}{{ i }} {% endfor %}'
        sword_data = sword_data.split(' ')
		sword_data.pop()

        optionInfo = {
            title: {
                text: '每日数据量',
                subtext: '按天统计'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['朕的江山', '剑与家园']
            },
            toolbox: {
                show: true,
                feature: {
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    data: info_date
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: '朕的江山',
                    type: 'bar',
                    data: info_data,
                    markPoint: {
                        data: [
                            {type: 'max', name: '最大值'},
                            {type: 'min', name: '最小值'}
                        ]
                    },
                    markLine: {
                        data: [
                            {type: 'average', name: '平均值'}
                        ]
                    }
                },
				{
                    name: '剑与家园',
                    type: 'bar',
                    data: sword_data,
                    markPoint: {
                        data: [
                            {type: 'max', name: '最大值'},
                            {type: 'min', name: '最小值'}
                        ]
                    },
                    markLine: {
                        data: [
                            {type: 'average', name: '平均值'}
                        ]
                    }
                },
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        info.setOption(optionInfo);
    </script>
{% endblock %}
