{% extends 'backend/base.html' %}
{% load staticfiles %}
{% block title %}剑与家园{% endblock title %}
{% block head %}

{% endblock head %}
{% block content %}
    {#内容主体区域#}
    <table class="layui-table" lay-data="{height:715, url:'/backend/getRawData?t=sword', page:true, id:'info_id'}"
           lay-filter="info_id">
        <thead>
        <tr>
            <th lay-data="{field:'title', width:250, sort: true}">商品名</th>
            <th lay-data="{field:'country', width:100, sort: true}">国家</th>
            <th lay-data="{field:'power', width:100, sort: true}">战斗力</th>
            <th lay-data="{field:'desc', width:450}">描述</th>
            <th lay-data="{field:'account_type', width:100}">账户类型</th>
            <th lay-data="{field:'status', width:100}">状态</th>
            <th lay-data="{field:'release_date', width:180, sort: true}">发布时间</th>
            <th lay-data="{field:'price', width:100, sort: true}">价格</th>
{#            <th lay-data="{field:'url', width:235}">链接</th>#}
        </tr>
        </thead>
    </table>
{% endblock %}