{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block title %}Attitude-Message{% endblock title %}
{% block head %}
    <style>
	*{
{#	    font-family: arial, "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1"#}
	}

    </style>
{% endblock head %}
{% block content %}
<div style="width: 1000px;padding: 20px;margin: 0px auto">

    <div class="uk-form-row" style="margin: 50px auto">
        <form method="post">
            {% csrf_token %}
            <textarea cols="123" rows="8" placeholder="这里输入留言内容..." name="text" style="padding: 8px 8px;border-radius: 4px"></textarea>
            <p class="uk-form-help-block">这是一块留言板哦</p>
            <button class="uk-button" type="submit" href="" style="float: right">确认留言</button>
        </form>
    </div>
    {% for m in msg %}
   <article class="uk-comment" style="margin-bottom: 20px">
        <header class="uk-comment-header">
            <img class="uk-comment-avatar" src="{% static 'blog/images/photo.jpg' %}" style="border-radius: 150px;width: 50px;height: 50px" alt="">
            <h4 class="uk-comment-title">{{ m.ip.ip }}</h4>
            <div class="uk-comment-meta">{{ m.ip.country }} {{ m.ip.province }} {{ m.ip.city }} {{ m.ip.area }}  &nbsp;|&nbsp;  {{ m.mark_time|date:"Y-m-d H:i:s" }}</div>
        </header>
        <div class="uk-comment-body">{{ m.mark }}</div>
    </article>
    {% endfor %}

</div>

<script>
</script>
{% endblock content %}
