{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}about-blog{% endblock title %}
{% block head %}
    <link href="{% static 'blog/css/about.css' %}" rel="stylesheet" type="text/css">
{% endblock head %}
{% block content %}
<div class="heading">
    <div class="wrapper">
        <h2>主页</h2>

        <div class="lead">国产响应式css框架</div>
        <div class="social">兼容ie6，ie7，ie8，firefox，chrome等浏览器</div>
    </div>
</div>
<ul class="timeline">
    <li class="event">
        <label></label>
        <div class="thumb" style="background-image:url({% static 'blog/images/photo.jpg' %});">
            <span>2016-6-26</span></div>
        <div class="inner">
            <h3>正式启动项目</h3>
            <p>迷茫，那是因为你的才华还撑不起你的梦想！</p>
        </div>
    </li>
    <li class="event">
        <label></label>
        <div class="thumb" style="background-image:url({% static 'blog/images/photo.jpg' %});">
            <span>2016-6-27</span></div>
        <div class="inner">
            <h3>Attitude </h3>
            <p>终点的距离，无关前行的速度，而是取决于前行的态度！</p>
        </div>
    </li>
</ul>
{% endblock %}