{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'blog/css/slicy.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'blog/css/uikit.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'blog/css/uikit.gradient.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'blog/css/sticky.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'blog/css/index.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'blog/js/jquery-1.7.1.min.js' %}"></script>
    <script src="{% static 'blog/js/uikit.js' %}"></script>
    <script src="{% static 'blog/js/sticky.min.js' %}"></script>
    <script src="{% static 'blog/js/slicy.js' %}"></script>
    <title>home</title>
</head>
<body>
<div class="naver">
    <div class="wrapper">
        <div class="brand">
            <a href="./index.html">Attitude</a>
        </div>
        <div class="gh">
            <a href="#"></a>
        </div>
        <div class="module">
            <ul>
                <li class="">
                    <a href="/index">主页</a>
                </li>
                <li class="">
                    <a href="/notes/share">笔记分享</a>
                </li>
                <li>
                    <a href="/full_page">运作项目</a>
                </li>
                <li>
                    <a href="">生活记忆</a>
                </li>
                <li>
                    <a href="/about">关于本站</a>
                </li>
            </ul>
        </div>
        <div class="sub">
            <ul>
                <li><a href="https://github.com/wikizero/" target="_blank" title="GiuHub">我的项目（GitHub）</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="heading">
    <div class="wrapper">
        <h2>主页</h2>

        <div class="lead">国产响应式css框架</div>
        <div class="social">兼容ie6，ie7，ie8，firefox，chrome等浏览器</div>
    </div>
</div>
<div class="top_img">
    <a href="#"><img src="{% static 'blog/images/python.png' %}" class="img-scale" width="100"/></a>
    <a href="#"><img src="{% static 'blog/images/java.png' %}" class="img-scale" width="100"/></a>
    <a href="#"><img src="{% static 'blog/images/linux.png' %}" class="img-scale" width="100"/></a>
    <a href="#"><img src="{% static 'blog/images/jquery.jpg' %}" class="img-scale" width="100"/></a>
</div>
<div class="contents">
    <div class="box1">

    </div>
    <div class="box2">
        <div class="uk-panel login_status">
            <img class="uk-border-circle" src="{% static 'blog/images/photo.jpg' %}">
            <h5>Attitude</h5>

            <p>登录就能下载源码，还能评论呢！</p>
            <a class="uk-button uk-button uk-button-small" href="/notes">点击登录</a>
        </div>
    </div>
</div>
</body>
</html>