{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'blog/css/slicy.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'blog/js/jquery-1.7.1.min.js' %}"></script>
    <script src="{% static 'blog/js/sticky.min.js' %}"></script>
    <script src="{% static 'blog/js/slicy.js' %}"></script>
    <title>home</title>
</head>
<body>
<form action="/notes/login" method="post"  style="margin: 150px auto; width: 500px">
        <p>
            <label>Username
            </label>
            <input name="username" type="text"  class="text radius" style="width: 500px">
        </p>
        <p>
            <label>Password
            </label>
            <input name="password" type="password"  class="text radius" style="width: 500px">
        </p>
        <p>
            <label></label>
            <input  type="reset" class="btn" value="reset">
            <input  type="submit" class="btn bg-inverse bg-blue" value="login">
        </p>
</form>
</body>
</html>
