{% extends 'base.html' %}
{% load staticfiles %}
{% load my_tags %}
{% block title %}notes - share{% endblock title %}
{% block head %}
    <style>
        .uk-article-title {
            margin-top: 5px;
            font-size: 20px;
            line-height: 20px;
        }

        .uk-article-meta {
            line-height: 20px;
            font-size: 14px;
        }

        .col3 {
            position: absolute;
            width: 210px;
            display: none;
        }

        .sidebar a {
            text-decoration: none;
            font-size: 15px;
        }

        @media (min-width: 1300px) {
            .col3 {
                margin-left: 10px;
                display: block;
            }
        }

        @media (min-width: 1500px) {
            .col3 {
                margin-left: 100px;
                display: block;
            }
        }

        @media (min-width: 1800px) {
            .col3 {
                margin-left: 200px;
                display: block;
            }
        }
    </style>
{% endblock head %}
{% block content %}

    <div class="heading">
        <div class="wrapper">
            <h2>主页</h2>

            <div class="lead">国产响应式css框架</div>
            <div class="social">兼容ie6，ie7，ie8，firefox，chrome等浏览器</div>
        </div>
    </div>
    <div class="col3">
        <ul class="sidebar">
            <li class="left-bar"><a>All Documents</a></li>
            {% for key, val in dct.items %}
                {{ forloop.counter.0 }}
                <li class="left-bar" data="{{ key }}"><a>{{ key }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="contents" style="width: 840px;padding: 20px;">
    {% for n in notes %}
        <div class="uk-article" {% if forloop.last %}  style="margin-bottom: 30px"  {% endif %}>
            <h3 class="uk-article-title">{{ forloop.counter }}. {{ n.title }}</h3>

            <p class="uk-article-meta"> 创建时间 : {{ n.create|date:"Y-m-d H:i:s" }} &nbsp; &nbsp; 最后更新
                : {{ n.edit|date:"Y-m-d H:i:s" }} &nbsp; &nbsp;
                <span style="background-color: #ECF0F1;padding: 3px 6px;border: 1px solid #d2d2d2">{{ n.type }}</span>
            </p>

            <p class="p" style="font-size: 15px">{{ n.desc }}</p>
            <a href="/notes/details?id={{ n.id }}" style="float: right" target="_blank">点击阅读</a>
        </div>
    {% endfor %}
    <div>

    <script>
        $(function () {
            $('.left-bar').click(function () {   // 其实没必要这样，django直接渲染就可以了，但js出错，或许jquery版本太低了
                var type = $(this).attr('data')
                if (type == null) {
                    window.location.href = '/notes/share'
                } else {
                    window.location.href = '/notes/share?type=' + type
                }
            })
        })
    </script>

{% endblock content %}
