{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'blog/css/uikit.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'blog/css/uikit.gradient.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'blog/css/timeline.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'blog/css/sign-in.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'blog/css/datepicker.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'blog/css/sticky.min.css' %}" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="{% static 'blog/simditor-2.3.6/scripts/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/js/uikit.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/js/modernizr.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/js/sign-in.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/js/datepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/js/sticky.min.js' %}"></script>

    <title>Attitude 签到系统</title>

    <style>

    </style>
</head>
<body>
{#   cd-picture  cd-location cd-movie     #}
<header>

    <nav class="uk-navbar" data-uk-sticky>
        <div class="uk-navbar-center">
            <a class="uk-navbar-brand" href="#">Wiki Diary</a>

            <div class="uk-navbar-content uk-hidden-small">
                <form class="uk-form uk-margin-remove uk-display-inline-block">
                    <input placeholder="Search...  " type="text" class="date-picker" data-uk-datepicker="{format:'YYYY-MM-DD',pos:'bottom'}">
                    {# ,minDate:'2016-8-29',maxDate:'2016-9-05' #}
                </form>
            </div>
        </div>
    </nav>
{#    <h1 style="font-size: 80px; margin-top: 88px; font-family: cursive">hello world</h1>#}

</header>
<!-- 触发模态对话框的锚 -->
    <a href="#create" data-uk-modal class="uk-button"> 我要签到 <i class="uk-icon-sign-in"></i></a>

<section id="cd-timeline" class="cd-container">
    {% for daily in daily_list %}
        <div class="cd-timeline-block">
            {% if daily.status in 'high' %}
                <div class="cd-timeline-img cd-picture">
                    <i class="uk-icon-thumbs-o-up uk-icon-medium encourage"></i>
                </div>
            {% endif %}
            {% if daily.status in 'middle' %}
                <div class="cd-timeline-img cd-location">
                    <i class="uk-icon-check uk-icon-medium encourage"></i>
                </div>
            {% endif %}
            {% if daily.status in 'low' %}
                <div class="cd-timeline-img cd-movie">
                    <i class="uk-icon-thumbs-o-down uk-icon-medium encourage"></i>
                </div>
            {% endif %}
            <!-- cd-timeline-img -->
            <div class="cd-timeline-content">
                <h2 class="div-date">{{ daily.date|date:'Y-m-d' }}</h2>

                <p>
                    {% for t in daily.old_set.all %}

                        <div {% if t.done %}
                            {#                            style="color: #659f13"#}
                        {% else %}
                            style="color: #c3c3c3"
                        {% endif %}>
                            {% if t.done %}
                                <i class="uk-icon-check"></i>
                            {% else %}
                                <i class="uk-icon-remove"></i>
                            {% endif %}
                            {{ t.task }}</div>
                    {% endfor %}
                </p>
                <a class="cd-read-more" data="{{ daily.more }} " href="#alert" data-uk-modal="{center:true}">阅读更多</a>
                <span class="cd-date">{{ daily.date|date:'Y-m-d  H:i:s' }}</span>
            </div>
            <!-- cd-timeline-content -->
        </div>
    {% endfor %}
    <!-- cd-timeline-block -->

</section>
<!-- cd-timeline -->

<!-- 模态对话框 -->
<div id="create" class="uk-modal">
    <div class="uk-modal-dialog uk-modal-dialog-blank">
        <button class="uk-modal-close uk-close" type="button"></button>
        <div class="uk-grid uk-flex-middle" data-uk-grid-margin="">
            <div class="uk-width-medium-1-1 uk-height-viewport uk-cover-background uk-row-first">
                <div class="alert-content uk-panel uk-width-medium-2-3">

                    <form class="uk-form alert-form" method="post">
                        {% csrf_token %}
                        <h2>Daily Task:</h2>
                        {% for task in task_list %}
                            <label><input type="checkbox" name="checkbox" value="{{ task.id }}"> {{ task.task }}</label>
                            </br>
                        {% endfor %}
                        <textarea cols="109" rows="12" placeholder="这里输入内容..." name="textarea"></textarea>
                        <button class="uk-button uk-button-large" type="submit">点击提交 <i
                                class="uk-icon-angle-double-right"></i></button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="alert" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        {#        <h1>Headline</h1>#}
        <p class="show-text"></p>
        {#        <div class="uk-modal-caption">会飞的瞎猫</div>#}
    </div>
</div>
<script>
    $(function () {
        var $timeline_block = $('.cd-timeline-block');
        //hide timeline blocks which are outside the viewport
        $timeline_block.each(function () {
            if ($(this).offset().top > $(window).scrollTop() + $(window).height() * 0.75) {
                $(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden');
            }
        });
        //on scolling, show/animate timeline blocks when enter the viewport
        $(window).on('scroll', function () {
            $timeline_block.each(function () {
                if ($(this).offset().top <= $(window).scrollTop() + $(window).height() * 0.75 && $(this).find('.cd-timeline-img').hasClass('is-hidden')) {
                    $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
                }
            });
        });

    });
</script>

</body>
</html>