.alert-content {
    margin: 50px auto;
}

.alert-form {
    width: 800px;
    margin: 10px auto;
}

.alert-form label {
    font-size: 16px;
    padding: 10px 20px;
    line-height: 30px;
    color: #555555;
}

.alert-form button {
    margin-top: 30px;
    float: right;
}

.alert-form textarea {
    margin-left: 20px;
    margin-top: 20px;
    /*resize: vertical;*/
    resize: none;
}

.cd-read-more {
    text-decoration: none;
}

/*------------------------------------------nav---------------------*/
.uk-navbar-brand {
    font-family: cursive;
    color: rgba(255, 255, 255, 0.1);
    font-size: 30px;
}

.uk-navbar-brand:hover {
    color: rgba(255, 255, 255, 0);
}

.uk-navbar-center {
    width: 1024px;
    margin: 0 auto;
}

.uk-navbar-content{
    float: right;
}

.uk-navbar {
    /*position: fixed;*/
    height: 60px;
    line-height: 60px;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0);
    background-image: none;
    border: none;
}
.uk-navbar input{
    color: #cccccc !important;
    width: 200px;
    border-radius: 0 !important;
    border: none !important;
    /*border-bottom: 1px solid #CCCCCC !important;*/
    height: 35px !important;
    text-align: center;
    background-color: rgba(255,255,255, 0) !important;


}

/*------------------------------------nav end------------------------------*/